body {
  font-family: verdana, sans-serif;
}
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}
.row {
  display: flex;
}
.box {
  width:375px;
  height:210px;
  border:1px solid#cccccc;
}
img {
  padding-top:20px;
  padding-bottom:50px;
}
h1 {
  text-align: center;
  color:#666666;
  font-size:48px;
  margin-top:45px;
}
h2 {
  color:#f07c17;
  font-size:25px;
  font-weight:bold;
  margin-top:20px;
}
p {
  font-size:16px;
  line-height:185%;
  margin-top:30px;
}
li {
  font-size:16px;
  line-height:185%;
  margin-left:25px;
}
